body{
   position: relative;
   background-color: black;
   width: 1042px; 
   height: 1000px;

}
:root{
   --cold: #79d6bb;
 
}

div{
   color: var(--cold);
   padding-top: 4px;
}

#modal.active{
   display: block;
   animation: modalFadeIn 0.5s ease-in-out; 
   
}

@keyframes modalFadeIn {
   from {
     opacity: 0;
     transform: translateY(-50%);
   }
   to {
     opacity: 1;
     transform: translateY(0);
    
   }
 }

#modal{
   border: 1px solid #79d6bb;
   padding: 10px;
   width: 50%;
   position: absolute;
   top: 50px;
   left: 20%;
   background-color: black;
   display: none;
   color: #79d6bb;
   
}

#modal .content{
   color: #79d6bb;
}

#modal header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#modal header svg{
   height: 30px;
   cursor: pointer;
}


button{
   height: 40px;
   width: 400px;
   border: 1px solid var(--cold);
   background-color: black;
   color: var(--cold);
   font-size: 16px;
   text-decoration: none;
   transition: .4s;
   letter-spacing: 4px;
}
button:hover{
   background: var(--cold);
   color: #8a2be2;
   border-radius: 5px;
   box-shadow: 0 0 5px var(--cold),
               0 0 25px var(--cold),
               0 0 50px var(--cold),
               0 0 100px var(--cold); 

   
}
